# --- Secrets & Configs ---
config.yaml
config.yaml
/localconfig
secrets*.yaml
config.custom.yaml                # Custom configuration: not in git

# Virtual environments
.venv/
venv/
env/
ENV
ENV3/

# Python compiler artifacts
__pycache__/
*.py[cod]
*$py.class
site/
.python-version

__pychche__/
*.tmp
*.pid
instance/

# Archives and temporary files
.Trash-*d
.Trash-*/
.nfs*
*.DS_Store
._*

# IDEs
.nova*
.vscode/*
.vscode/**/.cache
LSPOSS/result/
Animated.out/
.vs/

.jazz5/
[Oo]bj/
[Oo]bj/
[[Bb]in]
gpt_engineer/.notebooks/
node_modules/